*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    height: 100vh;
}

body{
    background-image: url("bilder/kjokken.png");
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}

#bakgrunn {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#bjorn {
    width: 350px;
    height: 500px;
    position: absolute;
    left: 37%;
    bottom: 80px;
}

#bord{
    width: 900px;
    height: 600px;
    position: absolute;
    left: 17%;
    bottom: 0px;

}

.ingredienser {
    position: absolute;
    bottom: 20px;
    right: 290px;
    display: flex;
    gap: 25px;
    align-items: flex-end;
}

.ingrediens {
    width: 90px;
    height: auto;
}

#bolle{
    position: absolute;
    bottom: 30px;
    right: 515px;
    height: 230px;
}

#timer{
    display: none;
    position: absolute;
    bottom: 30px;
    right: 515px;
    font-size: 60px;
    color: white;
    background: rgba(0,0,0,0.5); 
    padding: 10px 20px; 
    border-radius: 10px;
}

#instruksjon {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    font-family: sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}



